@model List<Guest>
@{
    ViewData["Title"] = "Guests";
}

<div class="container-fluid" style="max-width: 924px;">
    <div class="row">
        <div class="col-8">
            <h1><i class="fa-solid fa-person"></i> Guests</h1>
        </div>
        <div class="4">
            <a asp-controller="Guests" asp-action="Insert" class="btn btn-outline-success">
                <i class="fa-solid fa-person-circle-plus"></i> Add
                </a>
        </div>
    </div>
    <div class="table">
        <div class="row">
            <div class="col-3">First Name</div>
            <div class="col-3">Last Name</div>
            <div class="col-6">Actions</div>
        </div>
        @foreach (var guest in Model)
        {
            <div class="row mb-1">
                <div class="col-3">@guest.FirstName</div>
                <div class="col-3">@guest.LastName</div>
                <div class="col-6">
                    <button type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-user-pen"></i></button>
                    <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@guest.Id)"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function Delete(id)
    {
        $.ajax({
            url: "/api/v1/guests/delete" + id,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                $("#row-" + id).remove();
                toastr.success("Guest has been deleted successfully")
            }
            else {
                toastr.success(response.errorMessage);  
            }
        }); 
    }
</script>